<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link th:href="@{/css/output.css}" rel="stylesheet">
</head>
<body class="bg-gray-100 p-4">
    <!-- <h1 class="text-3xl font-bold text-blue-600" th:text="'Hola, ' + ${usuario.nombre}">¡Hola!</h1> -->
    <h1 class="text-3xl font-bold text-blue-600">¡Hola Rodrigo!</h1>
    <button class="mt-4 bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded">
        Botón con Tailwind
    </button>
</body>
</html>